<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      {{product.name}} (Available in store: <b>{{product.availableInStore}}</b>)
    </a>
  </h3>
  <p *ngIf="product.description">
    {{product.description}}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
  <app-product-discount [product]="product" (notify)="onDiscountNotify()"></app-product-discount>
  
</div>